body {
    text-align: center;
}

#plateau {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
}

td {
    text-align: center;
    border: 1px solid black;
}

button {
    background-color: white;
    border: none;
    width: 70px;
    height: 70px;
}

button:hover {
    background-color: #e5e5e5;
}

table {
    text-align: center;
    text-align: center;
    border-collapse: collapse;
}